<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">

    <title>Codecool series</title>

    <!-- Import Montserrat font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>

    <!-- Normalize.css fixes lot of differences between browsers default styles -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css"/>

    <!-- project wide styling -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style/site.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/background.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/button.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/card.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/table.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/form.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/grid.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/utils.css') }}">


    <!-- page specific styling -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style/detailed-view.css') }}">
    <script type="module" src="{{ url_for('static', filename='js/main.js') }}" defer></script>
        <script type="module" src="{{ url_for('static', filename='js/embed-youtube.js') }}" defer></script>

</head>




<body>
        <div class="modal" id="modal">
            <div class="delete" id="close-modal">×</div>
            <h3>Actor movies:</h3>
        </div></div>

<div id="body-wrapper">

    <header class="clearfix">
        <img id="header-logo" src="{{ url_for('static', filename='assets/codecool-logo.png') }}" alt="Codecool Logo">
        <a href="{{ url_for('index') }}" id="header-title" class="title">
            Codecool Series DB
        </a>
        <div id="header-auth">

            <button type="button" id="bt_register">Register</button>
            <button type="button" id="bt_login">Login</button>
        </div>
    </header>
    <section id="content">
        <h1 class="title text-center" id="page-header">Welcome page</h1>
        <div class="card" id="welcome-card">
            <h2>Welcome TV show lovers!</h2>
            <p>This great site is happy to bring you your favourite TV show's <i>details</i>.</p>
            <p></p>
            <p>Okay, actually this is a designed dumb page without any logic.</p>
            <p>You can find a navigational element, the so called "breadcrumb" above the page's title. Use it for
                in-depth
                navigation.
            </p>
        </div>
        <div class="card" id="card-shows-table">
            <div class = "loading">
                <progress max="100" value="80"></progress>
            </div>
            <table id="shows-container">
            </table>
            <div class="pagination">
            </div>

        </div>

    </section>
    <footer>
        Copyright, pj
    </footer>
</div>
<div class="background">
    <div class="dark-blue-layer"></div>
    <div class="light-blue-layer"></div>
</div>





<template id="detailed-view">
    <div class="card">
        <p>And here is a "detailed" kind of view:</p>
        <div class="row">
            <div id="player">
{#                #player for YOUtubevideo#}
            </div>
            <div class="col col-twothird">
                <h2 id="show-rating"></h2>
                <h2 id="show-title"></h2>
                <p class="small grayed" id="show-runtime-genre-year"><span class="separator">|</span> Action,
                    Adventure, Comedy <span
                            class="separator">|</span> 12 February 2016 (USA)</p>
                <p id="overview">A fast-talking mercenary with a morbid sense of humor is subjected to a rogue
                    experiment that
                    leaves
                    him with accelerated healing powers and a quest for revenge.</p>
            </div>
        </div>
        <div>
{#                            <p><b>Director:</b>&nbsp;<a href="Director">Tim Miller</a></p>#}
{#                            <p><b>Writers:</b>&nbsp;<a href="Writers">Rhett Reese</a>, <a href="#">Paul Wernick</a></p>#}
            <p id="show-stars"></p>
        </div>
    </div>
    <div class="card" id="seasons-list">
    </div>
</template>
</body>
</html>